
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-family: "Istok Web", sans-serif;
}

h1 {
  background-color: #f3f3f3;
  padding: 1%;
  text-decoration:none;
  text-align: center;
  color: rgb(0, 0, 0);
}

#logo{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  font-size: 23px;
  gap: 1rem;
}

a.nave-link.active {
  text-decoration: none;
  color: rgb(255, 165, 0);
}

a.nave-link {
  text-decoration: none; 
  color: rgb(58, 58, 58);
}

a.nave-link:hover {
  color: rgb(255, 165, 0);
  border-bottom: 1.5px solid rgb(255, 165, 0);
  padding-bottom: 3px;
}

.carrito {
  text-decoration: none;
  color: rgb(58,58,58);
  font-size: 100%;
}

.carrito:hover{
  color: rgb(255, 165, 0);
  border-bottom: 1.5px solid rgb(255, 165, 0);
  padding-bottom: 3px;
}

.items-container {
  min-height: 50vh;
  display: grid;
  place-items: center;
}

.item-list-container {
  max-width: 1000px;
  margin: 0 auto;
}

.productos-grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  background-color: #f3f3f3;
  margin-left: 150px;
  margin-right: 150px;
}

.producto {
  background-color: #ffffff;
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#product-img {
  
  max-width: 140px;
  max-height: 120px;
  }

#product-name {
  color: black;
  font-size: 30px;
  margin-bottom: 2%;
  background-color: #ffffff;
}

#price {
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-bottom: 3%;
  background-color: #ffffff;
}

.info-button {
  color: rgb(255, 255, 255);
  background-color:black;
  border-radius: 10%;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

#product-info{
 background-color: #ffffff;
 text-align: center;
 margin-left: 25%;
 max-width: 50%;
 padding-bottom: 5%;
}

#carrito {
  background-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 5%;
}

#price-carrito {
  background-color: #ffffff;
  color: #fa9191;
}

#info-carrito {
  color: rgb(2, 2, 2);
  background-color: #ffffff;
  font-size: large;
  text-align: center;
  margin: 1%;
  padding: 0%;
}

form {
  width: 340px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 5% auto;
  padding: 20px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
}

input {
  background-color: #f3f3f3;
  width: 100%;
}

#checkout-button {
  color: rgb(255, 255, 255);
  background-color:black;
  border-radius: 10%;
  cursor: pointer;
  margin: 10px auto;
  display: flex;

}

#checkout-end {
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 5% auto;
  padding: 20px;
}